.container {
  display: flex;
  align-items: center;
  .avatar {
    width: 80px;
    height: 80px;
  }
}

.info {
  margin-left: 12px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}

.params {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #989898;
  margin: 4px 0 0 0;
}

a.container {
  align-items: start;
  color: black;
  .info {
    min-height: 80px;
    display: flex;
    flex-direction: column;
  }

  .params {
    flex: 1 0 auto;
  }
}
