@import "../../App/vars.scss";

.container{
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    right:0;
    background-color: white;
    padding: 16px;
    box-shadow: 0px -4px 40px 0px #0000001A;

}

.mainButton{
    width:100%;
    background-color: $theme-color;
    color: white;
    border-radius: 50px;
    min-height: 50px;
    padding: 16px;
    font-size: 15px;
    font-weight: 700;
}