.togglerCont {
  position: relative;
  margin: 12px 0 0 0;
  max-width: 100%;
  overflow: hidden;
  min-height: 42px;

  .toggler {
    position: absolute;
    width: 100%;
    overflow: auto;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.title {
  margin: 40px 0 0 0;
}

.cardList {
}

.card {
  margin: 32px 0 0 0;

  &:first-child {
    margin: 16px 0 0 0;
  }
}

.searchInput {
  background: #f3f4f6;
  color: #97a0a7;

  svg {
    transform: translateY(-1px);
  }

  input {
    font-size: 16px;
    line-height: 19px;
  }
}

.speakerInfo {
  margin: 12px 0 0 0;
}
