.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  padding: 12px;
  border-radius: 5px;
  background: #f3f4f6;
  font-weight: 500;
}
