.container {
  margin: 10px 0 0 0 !important;
  cursor: pointer;
}

.info {
  flex: 1 1 auto;
  margin: 0 0 0 12px;
  font-weight: 500;
  .title {
    font-size: 14px;
    line-height: 17px;
    overflow-wrap: anywhere;
  }

  .theme {
    font-size: 12px;
    color: #c2c2c2;
    line-height: 15px;
    margin: 2px 0 0 0;
  }
}
