.container {
  background-color: #f4f4f4;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
}

.curTime {
  line-height: 17px;
}

.endTime {
  color: #a5a5a5;
  display: block;
  margin-left: 4px;
}
