@import "../../../App/vars.scss";

.descr {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 4px 0 0 0;
  color: rgb(139,139,139)
}
